name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: "**/package-lock.json"

    # Charger les variables d’environnement depuis le fichier .env
    - name: Load environment variables
      run: |
        set -a  # Active l'export automatique des variables
        source .env  # Charge les variables depuis .env
        set +a  # Désactive l’export automatique après chargement

    # Démarrer toutes les applications listées dans le .env
    - name: Start all applications
      run: |
        IFS=',' read -ra APPS <<< "$APP_LIST"

        for APP_NAME in "${APPS[@]}"; do
          # Construire les noms de variables
          APP_VAR_PATH="${APP_NAME^^}_PATH"  
          APP_PATH="${!APP_VAR_PATH}"

          echo "Démarrage de $app_name..."
          cd "$APP_PATH"

          npm ci
          npm run build --if-present
          npm start & echo $! > "$APP_PATH/app.pid"
        done
